.seccion-login{
display: flex;
}

.imagen-login{
    width: 100%;
    height: 100dvh;
}

.contenedor-imagen{
    width: 55%;
}
.contenedor-2{
    width: 45%;
}
.contenido-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px solid black;
border-radius: 10px;
width: 50%;
margin: auto;
margin-top: 10%;
padding: 30px;
gap: 10px;
background-color: rgba(0, 0, 0, 0.785);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
color: white;  
}

.contenido-form input{
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;

}

.titulo-login{
    width: 100%;
    background-color: #ffc76e;
    padding: 50px;
}

.boton-login{
    background-color: black;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.boton-login:hover{
    background-color: white;
    color: black;
}

.logo2{
    width: 40%;
    height: 200px;
    margin: auto;
    display: flex;
}