.contenedor-productos{
    width: 50%;
    margin: auto;
    border: 1px solid #d2d5da;
    border-radius: 5px;
    padding: 20px;
}
.form-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.flex-producto{
    display: flex;
    flex-direction: column;
}

.boton-producto{
    background-color: #ffc76e;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}